<h1>Tweet Now! 2: Multi-User</h1>

<% if session[:user_id] %>
<div>
  <p>
    username: <%=  current_user  %>        
  </p>

  <p>
    <button><a href="/sign_out">Sign Out</a></button>
  </p>

  <form id="tweet_form">
    <input type="text" placeholder="Tweet" name="text" required>
    <input type="text" placeholder="Minutes" name="delay">
    <input type="submit" value="Tweet It!">
  </form> 

  <div id="error_messages">
  </div> 


  <div class="tweet_history">
    <table>
      <tr id="table_header">
        <td>Tweet</td>
        <td>Scheduled Time</td>
        <td>Status</td>
      </tr>  
    </table> 
  </div> 
</div>



<% else %>
<button><a href="/sign_in">Sign In with Twitter</a></button>
<% end %>

